#imageSummary{
    border-radius: 15px;
}
#summaryViewContainer{
    border-radius: 20px;
}
#currentread{
    margin: 10px 10px 10px 10px;
    border-radius: 5px;
    background-color: #E8D8C9;
    text-align: center;
    padding: 5px 2px 5px 2px;
    border-style: none;
}
.progress-bar{
    background-color: #EDA14A;
}
.CircularProgressbar-path {
    stroke: #EE864B;
}
.CircularProgressbar-trail {
    stroke: #FEF2E0;
}
.mytabs {
    display: flex;
    flex-wrap: wrap;
}
.mytabs input[type="radio"] {
    display: none;
}
.mytabs label {
    padding: 5px;
    background: #E9E8E8;
    font-weight: bold;
    border-radius: 10px 10px 0px 0px;
}

.mytabs .tab {
    width: 100%;
    padding: 20px;
    background: white;
    order: 1;
    display: none;
}

.mytabs input[type='radio']:checked + label + .tab {
    display: block;
}

.mytabs input[type="radio"]:checked + label {
    background: white;
}

.tab{
    border-radius: 0px 20px 20px 20px;
}

.synopsis {
    height: 10em;
    overflow-y: scroll;
}