/*
 * Public Styles
 */

/* html body { */
    /* background: #F4F2EE; */
/* } */

*{
    font-family: 'Heebo', sans-serif;
}

.panel {
    background-color: rgba(0, 0, 0, 0.1);
}

.panel-header {
    background-color: rgba(0, 0, 0, 0.1);
}

