/*
 * Public Styles
 */

/* html body { */
    /* background: #F4F2EE; */
/* } */

*{
    font-family: 'Quattrocento Sans', sans-serif;
}

.panel {
    background-color: rgba(0, 0, 0, 0.1);
}

.panel-header {
    background-color: rgba(0, 0, 0, 0.1);
}
h1{
    font-family: 'Playfair Display', serif;
}
h2{
    font-family: 'Playfair Display', serif;
}
h3{
    font-family: 'Playfair Display', serif;
}
