
.btn1{
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color: black;
    color: white;
    border-radius: 4px;
    font-weight: bold;
}
.btn1:hover{
    background: whitesmoke;
    border: 1px solid;
    color: black;
}

#name1{
    color:#EE864B;
}
#name2{
    color:#7C4200;
}
#formForEmailOrPasswordLogin{
    margin-bottom: 10px;
    margin-top: 10px;
}
#imageLoginPage{
    border-radius: 15px;
}