/* #listForClubs > a:focus{ */
    /* background-color: #b66f46; */
    /* color: whitesmoke; */
/* } */

.table .label {
    color: rgb(0, 0, 0, 0.5);
}

.table .info {
    text-align: right;
}

img.icon {
    width: 32pt;
    opacity: 0.2;
}

.accordion * {
    border: 0;
}

.active-card .card-header {
    background-color: rgb(0, 0, 0, 0.1);
}
