#panelbody{
    background-color:#F4F2EE;
    border-radius: 25px;
    font-size: 14px;
}
#panelhead{
    background-color: white;
    font-weight: 700;
    font-size: 32px;
}

#panel{
    background-color:white;
}
