.votes-modal td {
    border-top: solid thin;
}

.votes-modal .col-titles {
    text-align: left;
}

.votes-modal .col-votes {
    text-align: left;
}
    
#show-votes{
    background-color: #EE864B;
    border: transparent;
}
#show-votes:hover{
    background-color: #EA671C;
}