#name1{
    color:#EE864B;
}
#name2{
    color:#7C4200;
}
#navigation-bar{
    background-color: #E8D8C9;
}
#navigation{
    color:#7C4200;
}
#hiddenPadding{
    visibility: hidden;
}
#react-link{
    text-decoration: none;
}
#profile-button .btn {
    background: transparent;
    color: #7C4200;
    border: transparent;
    margin-top: 2px;
}
#profile-button .btn:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
