#name1{
    color:#EE864B;
}
#name2{
    color:#7C4200;
}
#navigation-bar{
    background-color: #E8D8C9;
}
#navigation{
    color:#7C4200;
}
#hiddenPadding{
    visibility: hidden;
}
#react-link{
    text-decoration: none;
}
#profile-button .btn {
    background: rgb(0, 0, 0, 0);
    border: 0pt;
    color: #7C4200;
}
#profile-button .btn:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
