.create-club-button{
    background-color: #EE864B;
    border: transparent;
}
.create-club-button:hover{
    background-color: #EA671C;
}

.close-modal{
    background-color: #FC4F59;
    border:none;
}

.close-modal:hover{
    background-color: gray;
}

.head-footer-modal{
    background-color: #E8D8C9;
}